# Virtual Environment
riskradar_env/
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# FAISS / Vector DB
faiss_index/
chroma_db/

# Logs
*.log
data/feedback_log.csv
